<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @landmark.name %></title>
  </head>
  <body>
    <h1><%= @landmark.name %></h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Year Completed</th>
      </tr>
      <tr>
        <td><%= @landmark.name %></td>
        <td><%= @landmark.year_completed %></td>
      </tr>
    <table>

  </body>
</html>
